.noticia{
    background-color: #fafafa;
    margin: 1rem;
    padding: 1rem;
    border: 5px solid #ccc;
}

.noticia .datos{
    text-align: right;
}

.noticia .noti{
    text-align: justify;
}

.coments #comentario{
    background: gray;
    border-color: black;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.coments .usuario{
    text-align: left;
}

.coments .fecha{
    text-align: right;
}

